projects/ORFandDBparsers/PfamMul/MSA-ODB.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.pdg.cnb.uam.es/jmfernandez/ORFandDB/4.0/MSA" xmlns="http://www.pdg.cnb.uam.es/jmfernandez/ORFandDB/4.0/MSA" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:annotation>
    <xsd:documentation xml:lang="en"><![CDATA[This schema represents the information from Multiple Sequence Alignment information.
It has been designed to be the format generated by ORFandDB parsers.]]></xsd:documentation>
  </xsd:annotation>
  <xsd:element name="MSASet">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This element is a pure container of Multiple Sequence Alignments]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="0" ref="MSA"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="MSA">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This element contains all the information of a core Multiple Sequence Alignment.
The order of the gappedFragment does import, as it is the same from the
original file with the same content.

At the end it can appear a residues element, which have the same information,
grouped by conserved positions.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="1" ref="gappedFragment"/>
        <xsd:element maxOccurs="1" minOccurs="0" ref="residues"/>
      </xsd:sequence>
      <xsd:attribute name="length" type="xsd:positiveInteger" use="required"/>
    </xsd:complexType>
    <xsd:key name="contentKey">
      <xsd:annotation>
        <xsd:documentation><![CDATA[This key both assures that there is no repeated id attributes and it is used as key for residues keyrefs]]></xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="gappedFragment/content"/>
      <xsd:field xpath="@id"/>
    </xsd:key>
    <xsd:keyref name="rKeyRefcontent" refer="contentKey">
      <xsd:annotation>
        <xsd:documentation><![CDATA[This keyref assures that this residue refers to a valid content element inside a gappedFragment]]></xsd:documentation>
      </xsd:annotation>
      <xsd:selector xpath="residues/rs/r"/>
      <xsd:field xpath="@i"/>
    </xsd:keyref>
  </xsd:element>
  <xsd:element name="gappedFragment">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This gapped fragment has a name, and optionally a begin and an end.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="content">
          <xsd:annotation>
            <xsd:documentation><![CDATA[This element is the container of one of the gappedFragment contents]]></xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:simpleContent>
              <xsd:extension base="xsd:string">
                <xsd:attribute name="type" use="required">
                  <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                      <xsd:enumeration value="res">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[Residues]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="SS">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[Secondary structure]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="SA">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[Surface accessibility]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="SS_cons">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[Consensus secondary structure]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="SA_cons">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[Consensus surface accessibility]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="seq_cons">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[  The consensus sequence for both the SEED and full alignment are provided by
  Pfam, denoted by #=GC seq_cons at the beginning of the line.  In all cases 
  a threshold of 60% is used (i.e 60% or above, of the amino acids in this
  column belong to this class of residue). Below is the key to the alignment 
  mark up.  The program used was orginally from the Consensus program by Nigel
  Brown of the EMBL.]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="AS">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[  Pfam marks up active site residues in the multiple sequence
  alignments.  Active site residues are derived from the Swiss-Prot
  feature table.  Active sites which are not annotated in the Swiss-Prot
  feature table as being probable, potential or by similarity are
  given the feature name AS.]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="pAS">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[  Pfam predicts a residue to be an active site residue if it aligns
  in a Pfam alignment with a Swiss-Prot annotated active site, and is of
  the same amino acid type.  Active sites which are predicted by Pfam
  are given the feature name pAS.]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                      <xsd:enumeration value="sAS">
                        <xsd:annotation>
                          <xsd:documentation><![CDATA[  Active site residues which are annotated in Swiss-Prot as being
  probable, potential or by similarity are marked as predicted active
  sites, as long as they do no overlap with a Pfam predicted active site.
  Active sites which are annotated as probable, potential or by
  similarity by Swiss-Prot are given the feature name sAS.]]></xsd:documentation>
                        </xsd:annotation>
                      </xsd:enumeration>
                    </xsd:restriction>
                  </xsd:simpleType>
                </xsd:attribute>
                <xsd:attribute name="id" type="xsd:positiveInteger" use="optional">
                  <xsd:annotation>
                    <xsd:documentation><![CDATA[This id is used by correlated residues elements]]></xsd:documentation>
                  </xsd:annotation>
                </xsd:attribute>
              </xsd:extension>
            </xsd:simpleContent>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="start" type="xsd:positiveInteger" use="optional"/>
      <xsd:attribute name="end" type="xsd:positiveInteger" use="optional"/>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="residues">
    <xsd:annotation>
      <xsd:documentation><![CDATA[This element contains almost the same information as the set of gappedFragment elements before it.
The difference is the disposition, so conserved residues are together.]]></xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" minOccurs="1" name="rs">
          <xsd:annotation>
            <xsd:documentation><![CDATA[This is a residue set. Its attribute indicates the abstract place of the set.]]></xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" minOccurs="1" name="r">
                <xsd:annotation>
                  <xsd:documentation><![CDATA[This is a single residue, which points to its original gappedFragment with i attribute.
p attribute is the position inside the gappedFragment (using original sequence coordinates).
v attribute is the residue itself.]]></xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:attribute name="i" type="xsd:positiveInteger" use="required">
                    <xsd:annotation>
                      <xsd:documentation><![CDATA[Identifier of the original content inside a gappedFragment.]]></xsd:documentation>
                    </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="p" type="xsd:integer" use="required">
                    <xsd:annotation>
                      <xsd:documentation><![CDATA[The position inside the gappedFragment sequence content.]]></xsd:documentation>
                    </xsd:annotation>
                  </xsd:attribute>
                  <xsd:attribute name="v" use="required">
                    <xsd:annotation>
                      <xsd:documentation><![CDATA[The residue itself]]></xsd:documentation>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:length fixed="true" value="1"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:attribute>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
