projects/ORFandDB-X/schemas/XSDs/DTDs/match.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by ALEX KANAPIN (EMBL OUTSTATION THE EBI) -->
<!--DTD generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<!ELEMENT interpro (match+)>
<!ATTLIST interpro
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	type (Domain | Family | PTM | Repeat | Active_site | Binding_site) #REQUIRED
	parent_id CDATA #IMPLIED
>
<!ELEMENT interpromatch (protein+)>
<!ELEMENT location EMPTY>
<!ATTLIST location
	start CDATA #IMPLIED
	end CDATA #IMPLIED
	status CDATA #REQUIRED
	evidence CDATA #REQUIRED
	score   CDATA #REQUIRED
>
<!ELEMENT match (location+)>
<!ATTLIST match
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	dbname CDATA #REQUIRED
>
<!ELEMENT protein (interpro+)>
<!ATTLIST protein
	id CDATA #REQUIRED
	name CDATA #REQUIRED
	length CDATA #REQUIRED
	crc64 CDATA #REQUIRED
>
