schemas/DTDs/NCBI-DTDs/NCBI_Access.mod.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "access.asn"
     ::DATATOOL:: by application DATATOOL version 1.5.0
     ::DATATOOL:: on 06/06/2006 23:03:48
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-Access"
================================================= -->
<!--
$Revision: 6.0 $
*********************************************************************

  access.asn

     messages for data access

*********************************************************************
-->
<!-- Elements used by other modules:
          Link-set -->

<!-- ============================================ -->


<!--
 links between same class = neighbors
 links between other classes = links
-->


<!ELEMENT Link-set (
        Link-set_num, 
        Link-set_uids?, 
        Link-set_weights?)>

<!ELEMENT Link-set_num (%INTEGER;)> <!-- number of links to this doc type -->
<!ELEMENT Link-set_uids (Link-set_uids_E*)> <!-- the links -->
<!ELEMENT Link-set_uids_E (%INTEGER;)>
<!ELEMENT Link-set_weights (Link-set_weights_E*)> <!-- the weights -->
<!ELEMENT Link-set_weights_E (%INTEGER;)>

