projects/ORFandDB-X/schemas/XSDs/DTDs/NCBI-DTDs/NCBI_BlastDL.mod.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "blastdb.asn"
     ::DATATOOL:: by application DATATOOL version 1.5.0
     ::DATATOOL:: on 06/06/2006 23:03:48
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "NCBI-BlastDL"
================================================= -->
<!--
$Id: blastdb.asn,v 6.4 2001/11/02 21:44:54 camacho Exp $

 Notes:

 taxonomy: an integer is proposed, which would require some sort of 
 table (or network connection) to do the conversions from integer 
 to various names.  This could save quite a bit of space for databases 
 that are predominantly of one organism (e.g., human in htgs).
 I've proposed here that table contain scientific-, common-, and 
 blast-names at the advice of Scott Federhen.  Scott also was in 
 favor of having the complete lineage in the file, but it seems like 
 this would be seldom used and we could have a view with a link back 
 to the taxonomy page for anyone needing it. Since one file would 
 suffice for all blast databases, it seems like this should be a new file.

 memberships: a sequence of integers is proposed.  Each bit of an integer 
 would indicate membership in some (virtual) blast database (e.g., pdb, 
 swissprot) or some classification (e.g., mRNA, genomic).

 links: a sequence of integers is proposed.  Each bit of an integer would 
 indicate a link that could be established based upon the gi of the 
 database sequence.

 $Revision: 6.4 $

 $Log: blastdb.asn,v $
 Revision 6.4  2001/11/02 21:44:54  camacho
 Make title and taxid optional fields

 Revision 6.3  2001/04/02 15:08:53  madden
 Add other-info SEQUENCE OF INTEGER for future use

 Revision 6.2  2001/03/29 19:03:40  madden
 Minor change for consistency

 Revision 6.1  2000/09/14 20:05:00  shavirin
 Initial revision.


-->
<!-- Elements used by other modules:
          Blast-def-line-set,
          Blast-def-line -->

<!-- Elements referenced from other modules:
          Seq-id FROM NCBI-Seqloc -->

<!-- ============================================ -->


<!-- all deflines for an entry -->

<!ELEMENT Blast-def-line-set (Blast-def-line*)>

<!ELEMENT Blast-def-line (
        Blast-def-line_title?, 
        Blast-def-line_seqid, 
        Blast-def-line_taxid?, 
        Blast-def-line_memberships?, 
        Blast-def-line_links?, 
        Blast-def-line_other-info?)>

<!ELEMENT Blast-def-line_title (#PCDATA)> <!-- simple title -->
<!ELEMENT Blast-def-line_seqid (Seq-id*)> <!-- Regular NCBI Seq-Id -->
<!ELEMENT Blast-def-line_taxid (%INTEGER;)> <!-- taxonomy id -->
<!ELEMENT Blast-def-line_memberships (Blast-def-line_memberships_E*)> <!-- bit arrays -->
<!ELEMENT Blast-def-line_memberships_E (%INTEGER;)>
<!ELEMENT Blast-def-line_links (Blast-def-line_links_E*)> <!-- bit arrays -->
<!ELEMENT Blast-def-line_links_E (%INTEGER;)>
<!ELEMENT Blast-def-line_other-info (Blast-def-line_other-info_E*)> <!-- for future use (probably genomic sequences) -->
<!ELEMENT Blast-def-line_other-info_E (%INTEGER;)>

