projects/ORFandDB-X/schemas/XSDs/interpro.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by LYNN WHITE (EMBL OUTSTATION THE EBI) -->
<!--W3C Schema generated by XML Spy v4.4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.ebi.ac.uk/interpro" targetNamespace="http://www.ebi.ac.uk/interpro" elementFormDefault="qualified">
	<xs:element name="abstract">
		<xs:complexType mixed="true">
			<xs:choice minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="cite"/>
				<xs:element ref="db_xref"/>
				<xs:element ref="taxon"/>
				<xs:element ref="reaction"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="author_list" type="xs:string"/>
	<xs:element name="book_title" type="xs:string"/>
	<xs:element name="category" type="xs:string"/>
	<xs:element name="child_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rel_ref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="cite">
		<xs:complexType>
			<xs:attribute name="idref" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="class_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="classification" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="classification">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="category"/>
				<xs:element ref="description"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="class_type" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="contains">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rel_ref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="db_xref">
		<xs:complexType>
			<xs:attribute name="db" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="BLOCKS"/>
						<xs:enumeration value="CATH"/>
						<xs:enumeration value="CAZY"/>
						<xs:enumeration value="COG"/>
						<xs:enumeration value="COMe"/>
						<xs:enumeration value="EC"/>
						<xs:enumeration value="GENE3D"/>
						<xs:enumeration value="INTERPRO"/>
						<xs:enumeration value="IUPHAR"/>
						<xs:enumeration value="MEROPS"/>
						<xs:enumeration value="MSDsite"/>
						<xs:enumeration value="PANDIT"/>
						<xs:enumeration value="PANTHER"/>
						<xs:enumeration value="PDB"/>
						<xs:enumeration value="PFAM"/>
						<xs:enumeration value="PIRSF"/>
						<xs:enumeration value="PREFILE"/>
						<xs:enumeration value="PRINTS"/>
						<xs:enumeration value="PRODOM"/>
						<xs:enumeration value="PROFILE"/>
						<xs:enumeration value="PROSITE"/>
						<xs:enumeration value="PROSITEDOC"/>
						<xs:enumeration value="PUBMED"/>
						<xs:enumeration value="QDOC"/>
						<xs:enumeration value="SCOP"/>
						<xs:enumeration value="SMART"/>
						<xs:enumeration value="SSF"/>
						<xs:enumeration value="SWISSPROT"/>
						<xs:enumeration value="TIGRFAMs"/>
						<xs:enumeration value="TREMBL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="dbkey" type="xs:string" use="required"/>
			<xs:attribute name="protein_count">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="name" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="dbinfo">
		<xs:complexType>
			<xs:attribute name="dbname" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="GENE3D"/>
						<xs:enumeration value="GO"/>
						<xs:enumeration value="INTERPRO"/>
						<xs:enumeration value="PANTHER"/>
						<xs:enumeration value="PFAM"/>
						<xs:enumeration value="PIRSF"/>
						<xs:enumeration value="PREFILE"/>
						<xs:enumeration value="PRINTS"/>
						<xs:enumeration value="PRODOM"/>
						<xs:enumeration value="PROSITE"/>
						<xs:enumeration value="SMART"/>
						<xs:enumeration value="SSF"/>
						<xs:enumeration value="SWISSPROT"/>
						<xs:enumeration value="TIGRFAMs"/>
						<xs:enumeration value="TREMBL"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="version" type="xs:string" use="required"/>
			<xs:attribute name="entry_count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
						<xs:enumeration value="109"/>
						<xs:enumeration value="1160"/>
						<xs:enumeration value="117"/>
						<xs:enumeration value="12542"/>
						<xs:enumeration value="1347"/>
						<xs:enumeration value="1522"/>
						<xs:enumeration value="1882"/>
						<xs:enumeration value="1900"/>
						<xs:enumeration value="197228"/>
						<xs:enumeration value="20016"/>
						<xs:enumeration value="2342938"/>
						<xs:enumeration value="2454"/>
						<xs:enumeration value="438"/>
						<xs:enumeration value="668"/>
						<xs:enumeration value="7973"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="file_date" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="01-JAN-05"/>
						<xs:enumeration value="01-OCT-05"/>
						<xs:enumeration value="10-MAR-05"/>
						<xs:enumeration value="13-SEP-05"/>
						<xs:enumeration value="17-NOV-05"/>
						<xs:enumeration value="18-NOV-05"/>
						<xs:enumeration value="22-AUG-05"/>
						<xs:enumeration value="22-JUL-04"/>
						<xs:enumeration value="22-SEP-05"/>
						<xs:enumeration value="23-APR-04"/>
						<xs:enumeration value="25-OCT-05"/>
						<xs:enumeration value="27-APR-05"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="del_ref">
		<xs:complexType>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="deleted_entries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="del_ref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="example">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="db_xref"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="example_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="example" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="external_doc_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="db_xref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="found_in">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rel_ref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="interpro">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="abstract"/>
				<xs:element ref="class_list" minOccurs="0"/>
				<xs:element ref="example_list"/>
				<xs:element ref="pub_list"/>
				<xs:element ref="found_in" minOccurs="0"/>
				<xs:element ref="parent_list" minOccurs="0"/>
				<xs:element ref="contains" minOccurs="0"/>
				<xs:element ref="child_list" minOccurs="0"/>
				<xs:element ref="found_in" minOccurs="0"/>
				<xs:element ref="contains" minOccurs="0"/>
				<xs:element ref="found_in" minOccurs="0"/>
				<xs:element ref="member_list"/>
				<xs:element ref="external_doc_list" minOccurs="0"/>
				<xs:element ref="structure_db_links" minOccurs="0"/>
				<xs:element ref="taxonomy_distribution" minOccurs="0"/>
				<xs:element ref="sec_list" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="Active_site"/>
						<xs:enumeration value="Binding_site"/>
						<xs:enumeration value="Domain"/>
						<xs:enumeration value="Family"/>
						<xs:enumeration value="PTM"/>
						<xs:enumeration value="Repeat"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="short_name" type="xs:string" use="required"/>
			<xs:attribute name="protein_count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="interprodb">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="release"/>
				<xs:element ref="interpro" maxOccurs="unbounded"/>
				<xs:element ref="deleted_entries"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="journal" type="xs:string"/>
	<xs:element name="location">
		<xs:complexType>
			<xs:attribute name="firstpage">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lastpage">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="volume">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="issue" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="member_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="db_xref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="parent_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="rel_ref"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="pub_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="publication" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="publication">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="author_list"/>
				<xs:element ref="title" minOccurs="0"/>
				<xs:element ref="url" minOccurs="0"/>
				<xs:element ref="db_xref" minOccurs="0"/>
				<xs:element ref="journal" minOccurs="0"/>
				<xs:element ref="book_title" minOccurs="0"/>
				<xs:element ref="location" minOccurs="0"/>
				<xs:element ref="year"/>
			</xs:sequence>
			<xs:attribute name="id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="reaction" type="xs:string"/>
	<xs:element name="rel_ref">
		<xs:complexType>
			<xs:attribute name="ipr_ref" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="release">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="dbinfo" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sec_ac">
		<xs:complexType>
			<xs:attribute name="acc" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="sec_list">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sec_ac" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="structure_db_links">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="db_xref" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxon">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="xs:string">
					<xs:attribute name="tax_id" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN" />
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxon_data">
		<xs:complexType>
			<xs:attribute name="name" type="xs:string" use="required"/>
			<xs:attribute name="proteins_count" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN" />
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="taxonomy_distribution">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="taxon_data" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="title" type="xs:string"/>
	<xs:element name="url">
		<xs:simpleType>
			<xs:restriction base="xs:anyURI">
				<xs:enumeration value="http://afmb.cnrs-mrs.fr/~cazy/CAZY/index.html"/>
				<xs:enumeration value="http://ca.expasy.org/cgi-bin/lists?aatrnasy.txt"/>
				<xs:enumeration value="http://www.expasy.ch/cgi-bin/lists?glycosid.txt"/>
				<xs:enumeration value="http://www.ivyhall.district96.k12.il.us/4th/kkhp/1insects/assassin"/>
				<xs:enumeration value="http://www.uib.no/aasland/phd/PHD-finger.html"/>
				<xs:enumeration value="http://xanadu.mgh.harvard.edu/receptor/trrfront.html"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="year">
		<xs:simpleType>
			<xs:restriction base="xs:short" />
		</xs:simpleType>
	</xs:element>
</xs:schema>
