projects/ORFandDB-X/schemas/DTDs/NCBI-DTDs/MMDB_Chemical_graph.mod.dtd

<!-- ============================================
     ::DATATOOL:: Generated from "mmdb1.asn"
     ::DATATOOL:: by application DATATOOL version 1.5.0
     ::DATATOOL:: on 06/06/2006 23:03:48
     ============================================ -->

<!-- ============================================ -->
<!-- This section is mapped from module "MMDB-Chemical-graph"
================================================= -->
<!--
**********************************************************************

  Biological Macromolecule 3-D Structure Data Types for MMDB,
                A Molecular Modeling Database

  Definitions for a chemical graph

  By Hitomi Ohkawa, Jim Ostell, Chris Hogue and Steve Bryant 

  National Center for Biotechnology Information
  National Institutes of Health
  Bethesda, MD 20894 USA

  July, 1995

**********************************************************************
-->
<!-- Elements used by other modules:
          Biostruc-graph,
          Biomol-descr,
          Residue-graph,
          Molecule-id,
          PCSubstance-id,
          Residue-id,
          Atom-id -->

<!-- Elements referenced from other modules:
          Pub FROM NCBI-Pub,
          BioSource FROM NCBI-BioSource,
          Seq-id FROM NCBI-Seqloc,
          Biostruc-id FROM MMDB -->

<!-- ============================================ -->


<!--
 A biostruc graph contains the complete chemical graph of the biomolecular 
 assembly.  The assembly graph is defined hierarchically, in terms of 
 subgraphs graphs of component molecules.  For PDB-derived biostrucs,
 the molecules forming the assembly are the individual biopolymer chains and 
 any non-polymer or "heterogen" groups which are present. 
 The PDB-derived  "compound name" field appears as the name within the
 biostruc-graph description.  PDB "class" and "source" fields appear as 
 explicit attributes.  PDB-derived structures are assigned an assembly type 
 of "other" unless they have been further classified as the "physiological
 form" or "crystallographic cell" contents.  If they have, the source of the 
 type classification appears as a citation within the  assembly description. 
 Note that the biostruc-graph also includes as literals the subgraphs of 
 any nonstandard residues present within it. For PDB-derived biostrucs these 
 subgraphs are constructed automatically, with validation as described below.
-->


<!ELEMENT Biostruc-graph (
        Biostruc-graph_descr?, 
        Biostruc-graph_molecule-graphs, 
        Biostruc-graph_inter-molecule-bonds?, 
        Biostruc-graph_residue-graphs?)>

<!ELEMENT Biostruc-graph_descr (Biomol-descr*)>
<!ELEMENT Biostruc-graph_molecule-graphs (Molecule-graph*)>
<!ELEMENT Biostruc-graph_inter-molecule-bonds (Inter-residue-bond*)>
<!ELEMENT Biostruc-graph_residue-graphs (Residue-graph*)>

<!ELEMENT Biomol-descr (
        Biomol-descr_name | 
        Biomol-descr_pdb-class | 
        Biomol-descr_pdb-source | 
        Biomol-descr_pdb-comment | 
        Biomol-descr_other-comment | 
        Biomol-descr_organism | 
        Biomol-descr_attribution | 
        Biomol-descr_assembly-type | 
        Biomol-descr_molecule-type)>

<!ELEMENT Biomol-descr_name (#PCDATA)>
<!ELEMENT Biomol-descr_pdb-class (#PCDATA)>
<!ELEMENT Biomol-descr_pdb-source (#PCDATA)>
<!ELEMENT Biomol-descr_pdb-comment (#PCDATA)>
<!ELEMENT Biomol-descr_other-comment (#PCDATA)>
<!ELEMENT Biomol-descr_organism (BioSource)>
<!ELEMENT Biomol-descr_attribution (Pub)>
<!ELEMENT Biomol-descr_assembly-type (%INTEGER;)>
<!ATTLIST Biomol-descr_assembly-type value (
        physiological-form |
        crystallographic-cell |
        other ) #IMPLIED >

<!ELEMENT Biomol-descr_molecule-type (%INTEGER;)>
<!ATTLIST Biomol-descr_molecule-type value (
        dna |
        rna |
        protein |
        other-biopolymer |
        solvent |
        other-nonpolymer |
        other ) #IMPLIED >


<!ELEMENT Molecule-graph (
        Molecule-graph_id, 
        Molecule-graph_descr?, 
        Molecule-graph_seq-id?, 
        Molecule-graph_residue-sequence, 
        Molecule-graph_inter-residue-bonds?, 
        Molecule-graph_sid?)>

<!ELEMENT Molecule-graph_id (Molecule-id)>
<!ELEMENT Molecule-graph_descr (Biomol-descr*)>
<!ELEMENT Molecule-graph_seq-id (Seq-id)>
<!ELEMENT Molecule-graph_residue-sequence (Residue*)>
<!ELEMENT Molecule-graph_inter-residue-bonds (Inter-residue-bond*)>
<!ELEMENT Molecule-graph_sid (PCSubstance-id)>
<!ELEMENT Molecule-id (%INTEGER;)>
<!ELEMENT PCSubstance-id (%INTEGER;)>

<!ELEMENT Residue (
        Residue_id, 
        Residue_name?, 
        Residue_residue-graph)>

<!ELEMENT Residue_id (Residue-id)>
<!ELEMENT Residue_name (#PCDATA)>
<!ELEMENT Residue_residue-graph (Residue-graph-pntr)>
<!ELEMENT Residue-id (%INTEGER;)>

<!ELEMENT Residue-graph-pntr (
        Residue-graph-pntr_local | 
        Residue-graph-pntr_biostruc | 
        Residue-graph-pntr_standard)>

<!ELEMENT Residue-graph-pntr_local (Residue-graph-id)>
<!ELEMENT Residue-graph-pntr_biostruc (Biostruc-graph-pntr)>
<!ELEMENT Residue-graph-pntr_standard (Biostruc-residue-graph-set-pntr)>

<!ELEMENT Biostruc-graph-pntr (
        Biostruc-graph-pntr_biostruc-id, 
        Biostruc-graph-pntr_residue-graph-id)>

<!ELEMENT Biostruc-graph-pntr_biostruc-id (Biostruc-id)>
<!ELEMENT Biostruc-graph-pntr_residue-graph-id (Residue-graph-id)>

<!ELEMENT Biostruc-residue-graph-set-pntr (
        Biostruc-residue-graph-set-pntr_biostruc-residue-graph-set-id, 
        Biostruc-residue-graph-set-pntr_residue-graph-id)>

<!ELEMENT Biostruc-residue-graph-set-pntr_biostruc-residue-graph-set-id (Biostruc-id)>
<!ELEMENT Biostruc-residue-graph-set-pntr_residue-graph-id (Residue-graph-id)>

<!ELEMENT Residue-graph (
        Residue-graph_id, 
        Residue-graph_descr?, 
        Residue-graph_residue-type?, 
        Residue-graph_iupac-code?, 
        Residue-graph_atoms, 
        Residue-graph_bonds, 
        Residue-graph_chiral-centers?)>

<!ELEMENT Residue-graph_id (Residue-graph-id)>
<!ELEMENT Residue-graph_descr (Biomol-descr*)>
<!ELEMENT Residue-graph_residue-type (%INTEGER;)>
<!ATTLIST Residue-graph_residue-type value (
        deoxyribonucleotide |
        ribonucleotide |
        amino-acid |
        other ) #IMPLIED >

<!ELEMENT Residue-graph_iupac-code (Residue-graph_iupac-code_E*)>
<!ELEMENT Residue-graph_iupac-code_E (#PCDATA)>
<!ELEMENT Residue-graph_atoms (Atom*)>
<!ELEMENT Residue-graph_bonds (Intra-residue-bond*)>
<!ELEMENT Residue-graph_chiral-centers (Chiral-center*)>
<!ELEMENT Residue-graph-id (%INTEGER;)>

<!ELEMENT Atom (
        Atom_id, 
        Atom_name?, 
        Atom_iupac-code?, 
        Atom_element, 
        Atom_ionizable-proton?)>

<!ELEMENT Atom_id (Atom-id)>
<!ELEMENT Atom_name (#PCDATA)>
<!ELEMENT Atom_iupac-code (Atom_iupac-code_E*)>
<!ELEMENT Atom_iupac-code_E (#PCDATA)>
<!ELEMENT Atom_element %ENUM;>
<!ATTLIST Atom_element value (
        h |
        he |
        li |
        be |
        b |
        c |
        n |
        o |
        f |
        ne |
        na |
        mg |
        al |
        si |
        p |
        s |
        cl |
        ar |
        k |
        ca |
        sc |
        ti |
        v |
        cr |
        mn |
        fe |
        co |
        ni |
        cu |
        zn |
        ga |
        ge |
        as |
        se |
        br |
        kr |
        rb |
        sr |
        y |
        zr |
        nb |
        mo |
        tc |
        ru |
        rh |
        pd |
        ag |
        cd |
        in |
        sn |
        sb |
        te |
        i |
        xe |
        cs |
        ba |
        la |
        ce |
        pr |
        nd |
        pm |
        sm |
        eu |
        gd |
        tb |
        dy |
        ho |
        er |
        tm |
        yb |
        lu |
        hf |
        ta |
        w |
        re |
        os |
        ir |
        pt |
        au |
        hg |
        tl |
        pb |
        bi |
        po |
        at |
        rn |
        fr |
        ra |
        ac |
        th |
        pa |
        u |
        np |
        pu |
        am |
        cm |
        bk |
        cf |
        es |
        fm |
        md |
        no |
        lr |
        other |
        unknown ) #REQUIRED >

<!ELEMENT Atom_ionizable-proton %ENUM;>
<!ATTLIST Atom_ionizable-proton value (
        true |
        false |
        unknown ) #REQUIRED >

<!ELEMENT Atom-id (%INTEGER;)>

<!ELEMENT Intra-residue-bond (
        Intra-residue-bond_atom-id-1, 
        Intra-residue-bond_atom-id-2, 
        Intra-residue-bond_bond-order?)>

<!ELEMENT Intra-residue-bond_atom-id-1 (Atom-id)>
<!ELEMENT Intra-residue-bond_atom-id-2 (Atom-id)>
<!ELEMENT Intra-residue-bond_bond-order (%INTEGER;)>
<!ATTLIST Intra-residue-bond_bond-order value (
        single |
        partial-double |
        aromatic |
        double |
        triple |
        other |
        unknown ) #IMPLIED >


<!ELEMENT Chiral-center (
        Chiral-center_c, 
        Chiral-center_n1, 
        Chiral-center_n2, 
        Chiral-center_n3, 
        Chiral-center_sign)>

<!ELEMENT Chiral-center_c (Atom-id)>
<!ELEMENT Chiral-center_n1 (Atom-id)>
<!ELEMENT Chiral-center_n2 (Atom-id)>
<!ELEMENT Chiral-center_n3 (Atom-id)>
<!ELEMENT Chiral-center_sign %ENUM;>
<!ATTLIST Chiral-center_sign value (
        positive |
        negative ) #REQUIRED >


<!ELEMENT Inter-residue-bond (
        Inter-residue-bond_atom-id-1, 
        Inter-residue-bond_atom-id-2, 
        Inter-residue-bond_bond-order?)>

<!ELEMENT Inter-residue-bond_atom-id-1 (Atom-pntr)>
<!ELEMENT Inter-residue-bond_atom-id-2 (Atom-pntr)>
<!ELEMENT Inter-residue-bond_bond-order (%INTEGER;)>
<!ATTLIST Inter-residue-bond_bond-order value (
        single |
        partial-double |
        aromatic |
        double |
        triple |
        other |
        unknown ) #IMPLIED >


<!ELEMENT Atom-pntr (
        Atom-pntr_molecule-id, 
        Atom-pntr_residue-id, 
        Atom-pntr_atom-id)>

<!ELEMENT Atom-pntr_molecule-id (Molecule-id)>
<!ELEMENT Atom-pntr_residue-id (Residue-id)>
<!ELEMENT Atom-pntr_atom-id (Atom-id)>
<!ELEMENT Atom-pntr-set (Atom-pntr*)>

